body{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    line-height:1.5;
    padding:0;
    background-color: grey;
   

}
/*global**/

.container{
    widows: 80%;
    margin:auto;
    overflow:hidden;
}

ul{
    margin:0;
    padding:0;
}

.button_1{
    height:38px;
    background:maroon;
    border:0;
    padding-left:20px;
    padding-right:20px;
    color:white;


}

.dark{
    padding:15px;
    background:blue;
    color:white;
    margin-top: 10px;
    margin-bottom:10px;
}
/*header
header{
    background: black;
    color:white; 
    padding: top 30px;min-height:70px;
    border-bottom:orange 3px solid;
}

/*styling links in the header
header a{
    color: white;
    text-decoration:none;
    text-transform:uppercase;
    font-size:16px;
}

/* styling ul
header ul{
    margin:0;
    padding:0;
}

/* changing the allingnment of the list to be in one line**/
/*header li{
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding{
    float: left;

}

header #branding h1{
    margin:0;


}

header nav{
    float:right;
    margin-top:20px;
}
header .highlight, header .current a{
    color: green;
    font-weight:bold;
}

header a:hover{
    color: blue;
    font-weight:bold;**/
}

/*showcase*/
#showcase{
    min-height:400px;
    background:url('../img/showcase.jpg') no-repeat 0 100px;
    background-size:cover;
   /* background-repeat: no-repeat;
    background-position: 0;
    
    /*background-repeat: no-repeat 0 -400px;**/ 
    text-align:center;
    color:black;
}

#showcase h1{
    margin-top:100px;
    font-size:55px;
    margin-bottom:10px;
}

#showcase p{
    font: size 20px;
    color:black;
}


#newsletter{
    padding:15px;
    color:purple;
    background:green;

}


#newsletter h1{
    float:left;
}


#newsletter form{
    float:right;
    margin-top: 15px;

}

#newsletter input[type="email"]{
    padding: 4px;
    height 25px;
    width;250px;
}



/* boxes**/
#boxes{
    margin-top:20px;
}

#boxes .box{
    float:left;
    text-align:center;
    width:30%;
    padding:10px;
}

#boxes .box img{
    width:200px;
}

aside#sidebar{
    float:right;
    width:30%;
    margin-top:10px
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
    width:90%;
    padding:5px;
}

article#main-col{
    float:left;
    width:65%;
}

/*services*/

ul#services li{
    list-style:none;
    padding:20px;
    border:#cccccc solid 1px;
    margin-bottom: 5px;
    background: pink;
}

footer{
    padding:20px;
    margin-top:20px;
    color:white;
    background-color:black;
    text-align:center;

}

/*media queries display is affected below **/
@media(max-width:768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #boxes .box,
    article#main-col,
    aside#siebar{
        float:none;
        text-align:center;
        width:100%;
    }

    header{
        padding-bottom:20px;
    }

    #showcase h1{
        margin-top:40px;
    }
    #newsletter button, .quote button{
        display:block;
        width:100%;
    }

    #newsletter form input[type="email"], .quote input, .quote textarea{
        width:100%;
        margin-bottom:5px
    }
}